			<div id="footer">
				<a href="http://twitter.com/_netcodes"><span class="socicon">Q</span></a>
				<a href="http://twitter.com/_netcodes"><span class="socicon">b</span></a>
				<a href="http://twitter.com/_netcodes"><span class="socicon">a</span></a>
				<a href="http://twitter.com/_netcodes"><span class="socicon">c</span></a>
		</div>
		
</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/js/jquery.dlmenu.js"></script>
	<script src="/js/main.js"></script>
	<script>
			$(function() {
				$( '#dl-menu' ).dlmenu();
			});
		</script>
  </body>
</html>